<h1>Serviços</h1>
<hr>

<div class="container row m-auto">
    <div class="row row-cols-4">
        <div class="col">
            <app-servico></app-servico>
        </div>
        <div class="col">
            <app-servico></app-servico>
        </div>
        <div class="col">
            <app-servico></app-servico>
        </div>
        <div class="col">
            <app-servico></app-servico>
        </div>
    </div>
</div>
<div class="container row m-auto">
    <div class="row row-cols-4">
        <div class="col">
            <app-servico></app-servico>
        </div>
        <div class="col">
            <app-servico></app-servico>
        </div>
        <div class="col">
            <app-servico></app-servico>
        </div>
        <div class="col">
            <app-servico></app-servico>
        </div>
    </div>
</div>