<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <!--Interpolação de Strings-->
        <a class="navbar-brand mb-0 h1" [routerLink]="'/'">
            {{ nomeDoApp }}
        </a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/produtos'" (click)="isMenuCollapsed = true">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/teste-data-binding'" (click)="isMenuCollapsed = true">Teste Data Binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/servicos'" (click)="isMenuCollapsed = true">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/cadastro'" (click)="isMenuCollapsed = true">Cadastro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>