<div class="container-fluid bg-dark text-light py-2">
    <h3>{{slogan}}</h3>
    <p>{{endereco}}</p>
    <button class="btn" (click)="onToggle()" [ngClass]="{'btn-primary': oculto, 'btn-danger': !oculto}">
        {{callToAction}}
    </button>
    <ul *ngIf="!oculto; else mensagem">
        <li *ngFor="let destaque of destaques; index as i">
            #{{i + 1}} - {{destaque}}
        </li>
    </ul>
    <ng-template #mensagem>
        <br>
        <small class="text-muted" *ngIf="oculto">
            Você pode clicar no botão para ter os destaques
        </small>
    </ng-template>
    <!-- <p *ngIf="destaques.length > 0">Temos destaques da semana!</p> -->
</div>