<div class="card mb-1" style="width: 18rem;">
    <img src="https://i.picsum.photos/id/953/400/400.jpg?hmac=sCGl1xt9pdRyzGnhO5N_HVo_bObR1VVbUitw72cZ7K4" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nome do Produto</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum accusamus reprehenderit et minus quo excepturi quam possimus, modi voluptas laboriosam eum nulla labore dolore consequuntur, dicta ex, sit ratione id?
            content.</p>
        <button class="btn btn-primary">Comprar</button>
    </div>
</div>