<div class="card mb-1" style="width: 18rem;">
    <img [src]="produto.imagem" class="card-img-top produto-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{produto.nomeDoProduto}}</h5>
        <p class="card-text">{{produto.descricao}}</p>
        <h3 [ngClass]="{'text-muted riscado': produto.emPromocao, 'text-success': !produto.emPromocao}">{{produto.preco
            | currency: 'BRL'}}</h3>
        <div *ngIf="produto.emPromocao">
            <h3 class="text-success">{{precoDesconto() | currency: 'BRL'}}</h3>
            <h3>
                <span [ngStyle]="{'font-family': 'monospace'}" class="badge bg-success">
                    {{produto.desconto | percent}} OFF
                </span>
            </h3>
        </div>

        <div [ngSwitch]="produto.categoria">
            <span class="badge bg-success" *ngSwitchCase="'eletro'">Eletrônicos</span>
            <span class="badge bg-warning" *ngSwitchCase="'moveis'">Móveis</span>
            <span class="badge bg-danger" *ngSwitchCase="'limpeza'">Limpeza</span>
            <span class="badge bg-dark" *ngSwitchDefault>Outros</span>
        </div>
        
        <button class="btn btn-primary" (click)="onComprar()">Comprar</button>
        <ng-content></ng-content>
    </div>
</div>